<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/loginstyle.css' %}">

</head>
<body>
   
  
    <div class="loginbox" id="log">
        <img src="Avatar.png" class="avatar">
        <h1 class="title">The DL and SM store</h1>
         <form action="" method="POST">
         
         {% csrf_token %}
    <label for="username"><b>Username: </b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <br><br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br><br>
    <button type="submit">Login</button>

    {% for message in messages %}
        <p id="messages">{{message}}</p>
    {% endfor %}



    <p>New here? Sign Up! <a href="{% url 'register' %}">here</a></p>
         
         </form>
    </div>

</body>
</html>
