<br>
<br>
<div class="row">

    <div class="col m4">
        <div class="card teal darken-3">
            <div class="card-content white-text">
                <span class="card-title">Total orders</span>
                <h3>{{total_orders}}</h3>
            </div>
        </div>
    </div>

    <div class="col m4">
        <div class="card teal">
            <div class="card-content white-text">
                <span class="card-title">Orders Pending</span>
                <h3>{{pending}}</h3>
            </div>
        </div>
    </div>

    <div class="col m4">
        <div class="card teal lighten-2">
            <div class="card-content white-text">
                <span class="card-title">Orders Delivered</span>
                <h3>{{delivered}}</h3>
            </div>
        </div>
    </div>

</div>