{% load static %}

<nav>
    <div class="nav-wrapper teal ">
        <a href="#!" class="brand-logo"> DL </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'home' %}">Dashboard</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="Dashboard.html">Dashboard</a></li>
    <li><a href="products.html">Products</a></li>
</ul>