{% extends 'accounts/main.html' %} {% load static %}
<!--{% load widget_tweaks %}-->
<!--{% load materializecss %}-->
{% block content %}
<br>
<br>
<div class="row">
    <div class="col m6">
        <div class="card amber darken-1">
            <form action="" method="POST">
                {% csrf_token %} {{ form }}
                <br>
                <input class="waves-effect waves-light btn red center right" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}